<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    
    <!-- Active Directory Settings -->
    <add key="server_name" value="192.168.1.106"/>
    <add key="container" value="OU=Accounts,DC=test,DC=local" />
    <add key="groups-ou" value="OU=Groups,OU=Account - Resources,DC=test,DC=local" />
    <add key="contractors-ou" value="OU=Contractors,OU=Accounts,DC=test,DC=local" />
    <add key="ldap_path" value="ldap://192.168.1.106:389/OU=Accounts,DC=test,DC=local"/>
    <add key="service_user" value="svc_user" />
    <add key="service_password" value="TestPassword123!" />
  </appSettings>
</configuration>
